
@font-face {
    font-family: 'pokemon';
    src: url(../Fonts/pokemon-font/PokemonGb-RAeo.ttf) format(truetype);
}

body {
    margin:0;
    padding:0;
    /*font-family:'pokemon';*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(220, 222, 230,0.7);
    background-image: url(../Images/BG.png);
}

/* NAVIGATION BAR */
nav {
    margin: 0px;
    padding: 0px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav > ul > li > a:hover {
    background-color: #111;
    color: white;
}

nav .active {
    font-weight: bold;
    background-color: #111;/*rgb(0,250,130); /*forestgreen;*/
    color: white;
}

/* Main INTRO */
main {
    margin:10px;
    
}

main > .Intro-Main-Parent {
    overflow:hidden;
    color: black;
    padding: 25px;
    border-radius:10px;
    width: 90%;
    margin: 5% auto;
    /*background-color: rgba(140,82,196,0.75);
    /*color: rgb(202,239,244);*/
    background-color: rgba(255,255,255, 0.75);

}

main > .Intro-Main-Parent > .TextBlock {
    border: 5px solid white;
    background-color: rgba(250,250,250, 0.8);
    padding: 5px 25px;
    line-height: 1.5;
}

main > .Intro-Main-Parent > .standard {
    display: inline-block;
    vertical-align: middle;
    width:60%;
}

main > .Intro-Main-Parent > .standard > h3 {
    color: black;
}

main > .Intro-Main-Parent > .profile-image > img {
    width: 450px;
}

main > .Intro-Main-Parent > p {
    line-height: 1.5;
}

.console {
    font-family: 'Courier New';
    width: 700px;
    /*height: 250px;*/
    box-sizing: border-box;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    overflow:hidden;
    border-radius:10px;
  }
.console2 {
    /*height: 250px;*/
    box-sizing: border-box;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    overflow:hidden;
    border-radius:10px;
}
  
  .console header, .console2 header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #555;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #DDD;
  }
  
  .console .consolebody, .console2 .consolebody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    /*height: calc(100% - 40px);*/
    overflow-y: scroll;
    background-color: #000;
    color: aliceblue;
  }
  
  .console .consolebody a p, .concole2 .consolebody a p {
    line-height: 1.5rem;
    transition: left 0.5s;
  }

  .console .consolebody a p:hover, .console2 .consolebody a p:hover {
    line-height: 1.5rem;
    transform: translate(10px, 0);
    color: aquamarine;
  }

  .console .consolebody a:visited, .console .consolebody a:link, .console2 .consolebody a:visited, .console2 .consolebody a:link {
    text-decoration: none;
    color:aliceblue;
  }


#inline-pillars ul  {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.Intro-Main-Parent .colA {
    width: 25%;
    position: static;
    float: left;
}

.Intro-Main-Parent .colB {
    position: static;
    width: 65%;
    float: left;
}

.callout {
    background-color: rgba(140, 82,196, 0.8);
    float: left;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}
.callout p {
    color: white;
    text-decoration: none;
    float: left;
}

.Intro-Main-Parent.CV {
    text-align: center;
    background-color: rgba(255,255,255,0.95);

}
.Intro-Main-Parent.CV-sub {
    background-color: rgba(255,255,255,0.95);
}
.contact-images img {
    padding: 0px 10px
}

.Intro-Main-Parent.CV-sub h3 {
    text-align: center;
}

.Intro-Main-Parent .left-text {
    float:left;
    
}
.Intro-Main-Parent .right-text {
    float:right;
}
.cv-description {
    clear: both;
}